.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  max-width: 60ch;
}

.form input {
  margin-right: 1rem;
  appearance: none;
  min-width: 50ch;
}

.form button {
  appearance: none;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: calc(1rem - var(--border-radius));
  background: linear-gradient(
      to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1)
  );
  color: rgba(var(--foreground-rgb), 1);
  border: 1px solid currentColor;
  cursor: pointer;

  transition: color 100ms;
}

.form button:hover {
  color: rgb(118, 152, 255);
}
.form button[aria-disabled] {
  pointer-events: none;
  color: rgba(var(--foreground-rgb), 0.25);
}

.form button:active:enabled {
  background: linear-gradient(
      to top left,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1)
  );
}
